@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Signika:wght@300..700&family=Special+Gothic+Condensed+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size : 13px;
    box-sizing : border-box;
}

input, label{
    display: block;
}
.mainsec{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    padding : 2vh 5vw;
    border : 2px solid;
    border-radius : 12px;
    min-height : 100vh;
    width : 60vw;
    margin: 20px auto;
}
.mainsec > h1{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size : 22px;
    margin-top : 3vh;
    text-decoration: underline;
}
.linemain{
    margin-top : 3vh;
    width : 100%;
    border-bottom : 2px solid;
    font-weight: 600;
}
.name{
    margin-top : 3vh;
    display: flex;
    font-weight: 500;
    gap: 3vw;
}
.rowtwo{
    margin-top : 3vh;
    display: flex;
    font-weight: 500;
    gap: 3vw;
}
.gender > label, input{
    display : inline;
}
.gender{
    margin-top : 4vh;
    display: flex;
    font-weight: 500;
    gap: 1vw;
    margin-bottom : 3vh;    
}
.line{
    margin-top : 5vh;
    width : 100%;
    border-bottom : 2px solid;
    font-weight: 600;
}
.career{
    margin-top : 3vh;
    display: flex;
    font-weight: 500;
    gap: 4vw;
    margin-bottom : 3vh;    
}

.about{
    font-weight: 500;
}
.about  textarea {
    height : 20vh;
    width : 100%;
}
.submit{
    margin-top: 2vh;
}